Django>=3.1
django-crispy-forms>=1.9.2
django-filter==2.3.0
djangorestframework>=3.11.1
django-autocomplete-light~=3.8.1
django-extensions>=3.0.5
dj_database_url~=0.5.0
python-decouple~=3.4
django-heroku>=0.3.1
social-auth-app-django>=3.1.0
social-auth-core>=3.3.3
whitenoise==5.2.0
gunicorn==19.6.0
pip~=20.2.4
numpy~=1.18.3
requests~=2.23.0