{% extends 'base.html' %}
{% load static %}

{% block title %}Special Collections{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/specials.css' %}">
    <style>
        #sp-card-1 .special-card-bg {
            background: url("{% static 'img/back-top100.png' %}") center/cover no-repeat;
        }

        #sp-card-2 .special-card-bg {
            background: url("{% static 'img/back-netflix.jpg' %}") center/cover no-repeat;
        }

        #sp-card-3 .special-card-bg {
            background: url("{% static 'img/back-series.jpg' %}") center/cover no-repeat;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="special-cards">
        <h3 style="color: var(--special-title);">Special Categories</h3><br>
        <a class="special-card" id="sp-card-1" href="{% url 'top100' %}">
            <div class="special-card-bg"></div>
            <img class="special-card-img" src="{% static 'img/top100.png' %}" />
            <div class="special-card-text">
                <p class="special-card-title" style="color: #ffce45; text-shadow: 1px 1px 2px black;">TOP-100</p>
            </div>
        </a>
        
        <div class="special-card" id="sp-card-2">
            <div class="special-card-bg"></div>
            <img class="special-card-img" src="{% static 'img/netflix.png' %}" />
            <div class="special-card-text">
                <p class="special-card-title" style="color: #e50914; text-shadow: 1px 1px 2px black;">Netflix Movies</p>
            </div>
        </div>
        
        <div class="special-card" id="sp-card-3">
            <div class="special-card-bg"></div>
            <img class="special-card-img" src="{% static 'img/all_series.png' %}" />
            <div class="special-card-text">
                <p class="special-card-title" style="color: #f8f9fa; text-shadow: 1px 1px 2px black;">All Series</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/specials.js' %}"></script>    
{% endblock extra_js %}